body{
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-color: #f1f8ff;
    scroll-behavior: smooth;
}
/* styling header */
.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    background-color: white;
    box-sizing: border-box;
}

.orange{
    color: tomato
}


header{
    background: rgba(0, 0, 0, 0.5) url(https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    width: 100%;
    min-height: 95vh;
    background-size: cover;
    background-blend-mode: darken;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    box-sizing: border-box;

}

.navbar .left h1{
    color: #FEA116 ;
    font-size: 3.2rem; 
    margin: 0;
}

.navbar .right{
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.navbar .link{
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.2s ease;
}
.navbar .active{
    color: #FEA116;
}
.navbar .link:hover{
    color: #FEA116;
}

.bookTable{
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #FEA116;
    padding: 12px 30px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: backgound-color , color 0.5s ease;

}

.bookTable:hover{
    color: #FEA116;
    background-color: white;
}


.mainHeader{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
}

.mainHeader .left{
   max-width: 50%;
}

.mainHeader .left h1{
    color: white;
    font-size: 5rem;
   
    margin: 0;
}
.mainHeader .left p{
    color: white;
    font-size: 1.2rem;

    margin-bottom: 5rem;
    

}

.mainHeader .right .spinImg{
    background-size: cover;
    width: 90%;
    animation: spin 30s linear 0.3s infinite normal ;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* stying cards */
.main{
margin-top: 200px;
box-sizing: border-box;
    
}


.cards{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 3rem 0;
   

}

.card{
    width: 300px;
    height: 300px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: all 0.3s ease;
   
}

.card:hover{
    color: white;
    background-color: #FEA116;
    transform: scale(1.05);
    cursor: pointer;
}

.card .service{
    padding: 1.5rem;
}
.card .service h5{
    font-size: 1.6rem;
    font-weight: bold;
     margin: 20px 0 10px 0;
}

.card .service p{
    font-size: 1rem;
}


/* adding grid */

/* styling left side of the grid */
.sectionGrid{
    display: grid;
    grid-template-areas: 
    "img1 img2 c"
    'img3 img4 c';
    gap: 15px;
    margin: 100px 10px;
}

.img1 img , .img4 img{
    width: 280px;
    background-size: cover;
    border-radius: 5px;
}

.img2 img , .img3 img{
    width: 200px;
    background-size: cover;
    border-radius: 5px;
}

.sectionGrid .img1{
    grid-area: img1;
    align-self: flex-end;
    
}

.sectionGrid .img2{
    grid-area: img2;
    align-self: flex-end;
}
.sectionGrid .img3{
    grid-area: img3;
    justify-self: flex-end;
   
}
.sectionGrid .img4 {
    grid-area: img4;
    
}

.sectionGrid .gridRight{
    grid-area: c;
    padding: 0 24px;
}

/* styling right side of the grid */

.menu , .decor{
     font-family: 'Pacifico', cursive;
     font-size: 1.5rem;
     color: #FEA116;
     margin: 0;
     position: relative;
    
}

.decor::after{
    content: '';
    width: 45px;
    height: 2px;
    background-color: #FEA116;
    position: absolute;
    top:50%;
    right: 0;
   left: 100px;
   border-radius: 10px;
}

.welcome{
    font-size: 3rem;
    color: #0F172B;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
}

.gridRight i::after{
    content: "\f2e7";
    color: #FEA116;
}

.gridRight .wlc-info{
    font-size: 1rem;
    color: #666565;
    margin: 0 0 20px 0;
}

.gridRight .uls{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    
    
}

.uls .both{
    
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    border-left: 10px solid #FEA116;
    border-radius: 3px;
}

.both .number{
    color: #FEA116;
    font-size: 3rem;
    margin: 0;
}

.both .popularity{
    color: #0F172B;
    margin: 0;
}
.both span{
    font-size: 1rem;
    color: #666565;
    letter-spacing: 1px;
}

/* styling foods section */
.foods {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.food .menu{
    text-align: center;
    margin: 0 0 10px 0;
}

.food .foodList{
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    position: relative;

}

.foodList .foodNav a{
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   position: relative;
}



.foodNav a .divLink{
    margin-left: 16px;
}

.foodNav i{
    color: #FEA116;
}
.divLink .sml{
    color: #666565;
    font-size: 14px;
}
.divLink .heading-food{
    margin: 0;
    color: #0F172B;
    font-size: 1.2rem;
}


/* styling gridFoods section */

.gridFoods{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4 , 25%);
    height: 325px;
    gap: 25px;
    padding: 0 25px;
    margin: 100px 0;
    
}

.gridFood{
    display: flex;
    justify-content: space-between;
}

.gridFood .gridFood-info{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid gray;
}

.gridFood-info .foodName{
    color: #0F172B;
    font-size: 1.3rem;
    font-weight: 700;
}
.gridFood-info .foodPrice{
    color: #FEA116;
    font-size: 1.3rem;
    font-weight: 700;
}


.footer{
    margin: 100px 0;
}
